.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: max(10%, 80px);
}
.navbar .profile {
  width: 40px;
}

.navbar-profile {
  position: relative;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-profile-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  z-index: 1;
  width: 180px;
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile-dropdown img {
  width: 20px;
  color: tomato;
}

.navbar-profile-dropdown li:hover {
  color: tomato;
}
